  <nav>
    <div class="nav-wrapper blue-grey lighten-1">
      <ul class="right hide-on-med-and-down blue-grey lighten-1">
        <li><%= link_to 'New Task', new_task_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>
<h4><%= "Account: #{current_user.email}" %></h4>
<hr>
<%= link_to 'New Task', new_task_path %>
<ul>
  
  <% @tasks.each do |task|%>
    <%= "#{task.name}" %><br>
  <% end %>
  
 
</ul>
<%= button_to "Log out", destroy_user_session_path, method: :delete %>